#album{
	margin: 2em 0;
}
#album h1{
	font-size: 2em;
    text-align: center;
    color: #FFF;
}
.albumSong{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 5%;
    align-items: center;
    padding: 0.2em 1em;
    background-color: rgb(43, 43, 43);
    color: #FFF;
    cursor: default;
    margin-bottom: 0.2em;
}
.trackId::after{
    content: ".";
}
.albumSong h3{
    font-weight: 100;
    font-size: 1.2em;
}
.albumSong .like:hover, .albumSong .play:hover{
    color: #000;
    cursor: pointer;
}
.feat{
    font-size: 0.5em;
    color: #BBB;
}