.search{
    background-image: url("../images/album.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    padding: 4em 0;
}
.search h1{
    text-align: center;
    font-size: 2em;
}
.search input:focus,.search button:focus{
    outline: none;
}
#searchForm button:active{
    transform: scale(0.95);
}

.search form{
    position: relative;
    max-width: 500px;
    margin: 0 5%;
}
.search input{
    border: none;
    border-radius: 50px;
    font-size: 1em;
    padding: 15px 30px;
    width: 100%;
}
.search button{
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #e056fd;
    border: none;
    border-radius: 50px;
    color: #FFF;
    font-size: 1em;
    padding: 13px 30px;
}

.lyricBtn, .pageBtn{
    background-color: #8D56FD;
    border: none;
    border-radius: 10px;
    color: #FFF;
    padding: 4px 10px;
    width: 100%;
    max-width: 80px;
}
ul.songs{
    list-style: none;
    padding: 0;
}
ul.songs li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0;
}
.container{
    margin: 30px auto;
    max-width: 100%;
    width: 500px;
}
.container h2{
    font-weight: 300;
}
.container p{
    text-align: center;
}
#more{
    display: flex;
    justify-content: center;
}
.pageBtn{
    transform: scale(1.3);
    margin: 15px;
}